$text-color-black: #636b6f;
$text-color-white: #ffffff;
$header-title-color: #cac196;
$news-text-color: #a9bed3;
$news-meta-color: rgb(134, 142, 150);
$news-link-color: rgb(33, 37, 41);
$news-hover-color: #0085a1;
$news-border-color: rgb(128, 128, 128);
$footer-links-color: rgb(108, 117, 125);
