$header-menu-color: #34547a;

$background-color: #34547a;
$white-background-color: #eeeff1;

$title-color: #000000;
$text-color: #727272;
$icons-color: #ffffff;
$white-text-color: #ffffff;
$placeholder-color: #5f5d5d;
