.header {
  min-height: 400px;
  background-image: url("../img/tofino.jpg");
  @include background-cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__heading {
    color: $header-title-color;
    @include font(4rem, 4rem, 700);
    text-transform: capitalize;
  }
}
