/* Таблицы стилей Sass */
/* Адрес цветовой схемы: https://colorscheme.ru/#3k41T--B2w0w0 */

/* HEX коды */

$color-primary-0: #009fae; /* Основной Цвет */
$color-primary-1: #217a83;
$color-primary-2: #006771;
$color-primary-3: #36c9d7;
$color-primary-4: #61ccd7;

$color-secondary-a-0: #0032bb; /* Вторичный Цвет A */
$color-secondary-a-1: #233f8d;
$color-secondary-a-2: #00217a;
$color-secondary-a-3: #3764dd;
$color-secondary-a-4: #6484dd;

$color-secondary-b-0: #ffad00; /* Вторичный Цвет B */
$color-secondary-b-1: #bf9130;
$color-secondary-b-2: #a67000;
$color-secondary-b-3: #ffc140;
$color-secondary-b-4: #ffd273;

$color-complement-0: #ff7800; /* Дополнительный Цвет */
$color-complement-1: #bf7330;
$color-complement-2: #a64e00;
$color-complement-3: #ff9a40;
$color-complement-4: #ffb573;

$text-color-white: #ffffff;
